input[type=file],
input[type=file]::-webkit-file-upload-button {
    cursor: pointer;
}

.input-date:hover {
    cursor: pointer;
}

.select2-container--default .select2-selection--single {
    padding: 0 !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    margin-top: 0 !important;
}

.profile-image-icon {
    width: 50px;
}

.profile-image-thumbnail {
    width: 90px;
}
